GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/callback
GOOGLE_TASKS_LIST_ID=
GOOGLE_TASKS_BASE_URL=https://tasks.googleapis.com/tasks/v1
GOOGLE_TOKEN_STORAGE=storage/google_tokens.json
GOOGLE_DEFAULT_PAGE_SIZE=20
GOOGLE_TASKS_SHOW_COMPLETED=false
GOOGLE_TASKS_SHOW_HIDDEN=true
